section.container h1.text-center {
    color: #5ce1e6;
    font-size: 60px;
    margin-top: 20px;
    text-shadow: 3px 3px black;
}

section.container img{
    display: block; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px; 
    width: 450px;
    height: 360px;
}

section.container div#bloco1,
section.container div#bloco2,
section.container div#bloco3,
section.container div#bloco4,
section.container div#bloco5{
    width: 1000px;
    height: 375px;
    /*background-color: pink;*/
    margin: auto;
}

section.container div#bloco1 div#imagem1,
section.container div#bloco2 div#imagem2,
section.container div#bloco3 div#imagem3,
section.container div#bloco4 div#imagem4,
section.container div#bloco5 div#imagem5{
    width: 480px;
    height: 375px;
    /*background-color: green ;*/
    float: left;
}

section.container div#bloco1 div#texto1,
section.container div#bloco2 div#texto2,
section.container div#bloco3 div#texto3,
section.container div#bloco4 div#texto4,
section.container div#bloco5 div#texto5{
    width: 480px;
    height: 375px;
    /*background-color: orange ;*/
    float: right;
}

section.container div#bloco1 div#texto1 h2,
section.container div#bloco2 div#texto2 h2,
section.container div#bloco3 div#texto3 h2,
section.container div#bloco4 div#texto4 h2,
section.container div#bloco5 div#texto5 h2{
    color: #474444;
    font-size: 28px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 5%;
}

section.container div#bloco1,
section.container div#bloco2,
section.container div#bloco3,
section.container div#bloco4,
section.container div#bloco5{
    margin-bottom: 60px;
}
