section.container{
    width: 1200px;
    height: 920px;
    margin: auto;
    margin-top: 60px;
    /*border: 1px solid gray;*/
}

section.container div#blocoprincipal{
    width: 1115px;
    height: 310px;
    background-color: red;
    margin-top: 50px;
}

section.container div#blocoprincipal div#box1{
    width: 30%;
    height: 250px;
    background-color: rgb(248, 133, 152);
    float: left;
}

section.container div#blocoprincipal div#box2{
    width: 30%;
    height: 250px;
    background-color: rgb(0, 153, 255);
    float: left;
    margin-left: 5%;
}

section.container div#blocoprincipal div#box3{
    width: 30%;
    height: 250px;
    background-color: rgb(29, 145, 81);
    float: right;  
}

section.container div#blocoprincipal div#box1 img,
section.container div#blocoprincipal div#box2 img,
section.container div#blocoprincipal div#box3 img{
    display: block; 
    margin: auto; 
    width: 100%;
    height: 250px;
}

section.container div#blocoprincipal div#box1 h3,
section.container div#blocoprincipal div#box2 h3,
section.container div#blocoprincipal div#box3 h3{
    text-align: center; 
    font-family: arial, tahoma;
    color: #747777;
    margin-top: 20px;
    font-size: 24px;
}

section.container div#blocofinal{
    width: 1115px;
    height: 310px;
    background-color: red;
    margin-top: 50px;
}

section.container div#blocofinal div#box1{
    width: 30%;
    height: 250px;
    background-color: rgb(248, 133, 152);
    float: left;
}

section.container div#blocofinal div#box2{
    width: 30%;
    height: 250px;
    background-color: rgb(0, 153, 255);
    float: left;
    margin-left: 5%;
}

section.container div#blocofinal div#box3{
    width: 30%;
    height: 250px;
    background-color: rgb(29, 145, 81);
    float: right;  
}

section.container div#blocofinal div#box1 img,
section.container div#blocofinal div#box2 img,
section.container div#blocofinal div#box3 img{
    display: block; 
    margin: auto;
    width: 100%;
    height: 250px; 
}

section.container div#blocofinal div#box1 h3,
section.container div#blocofinal div#box2 h3,
section.container div#blocofinal div#box3 h3{
    text-align: center; 
    font-family: 'Sarala', sans-serif;
    color: #747777;
    margin-top: 20px;
    font-size: 24px;
}